extends layout

block content
  h1= title
  form(id='gunForm', action="/resource/create", method="POST")
    div.form-group
      label.gloveAttr(for='gun_name') Gun Name
      input#gun_name(type='text', name='gun_name')
    div.form-group
      label.gloveAttr(for='gun_weight') Gun Weight
      input#gun_weight(type='text', name='gun_weight')
    div.form-group
      label.gloveAttr(for='gun_manufacturer') Gun manufacturer
      input#gun_manufacturer(type='number', name='gun_manufacturer')
    input(type="submit")
    script.
      document.forms['gunForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error );
        });
      });
